@page "/calendar"
@using MudBlazor.Extensions
@using System.Globalization
@using ApplicationTier.Data
@using System.Collections
@using Authentication
@inject IDialogService DialogService
@inject IEventService EventService
@inject IUserService UserService
@inject AuthenticationStateProvider AuthenticationState

<AuthorizeView>
    <Authorized Context="Auth">
<MudToolBar>
    <MudIconButton Icon="@Icons.Material.Outlined.Menu" Color="Color.Inherit" Class="mr-5"/>

    <MudTooltip Text="Add Event" Color="Color.Secondary" Placement="Placement.Bottom">
        <MudIconButton Icon="@Icons.Material.Outlined.Add" OnClick="OpenDialog"/>
    </MudTooltip>
    @* <MudButton OnClick="OpenDialog" Variant="Variant.Filled" Color="Color.Primary"> *@
    @*     Add *@
    @* </MudButton> *@

    <MudIconButton Icon="@Icons.Material.Outlined.Edit"/>
    <MudIconButton Icon="@Icons.Material.Outlined.Remove" Color="Color.Inherit"/>
    <MudIconButton Icon="@Icons.Material.Outlined.Settings" Color="Color.Inherit"/>
    @* <MudItem xs="12" sm="6" md="4"> *@
    @*     <MudDatePicker PickerVariant="PickerVariant.Dialog" Label="Change Date" Date="DatePicker"/> *@
    @* </MudItem> *@

    <MudContainer>
        <MudButton Variant="Variant.Text" Size="Size.Small" Class="ma-2" @onclick="() => SwitchMonth(false)">&lt;</MudButton>
        <MudButton Variant="Variant.Text" Size="Size.Medium" Class="ma-2">@MonthNames[DisplayedMonth]</MudButton>
        <MudButton Variant="Variant.Text" Size="Size.Small" Class="ma-2" @onclick="() => SwitchMonth(true)">&gt;</MudButton>
    </MudContainer>
    <MudSpacer/>
    @* <MudToggleIconButton Toggled="@SharingStatus" ToggledChanged="OnToggledChanged" *@
    @*                      Icon="@Icons.Material.Filled.AlarmOff" Color="@Color.Error" Title="Off" *@
    @*                      ToggledIcon="@Icons.Material.Filled.AlarmOn" ToggledColor="@Color.Success" ToggledTitle="On"/> *@
    @* <MudButton Variant="Variant.Text" Size="Size.Small" Class="ma-2" @onclick="() => SwitchMonth(false)">@Proof</MudButton> *@
    @* <MudSwitch Checked="@SharingStatus" *@
    @*            ThumbIcon="@(SharingStatus == true ? Icons.Material.Filled.Done : Icons.Material.Filled.Close)" *@
    @*            ThumbIconColor="@(SharingStatus == true ? Color.Success : Color.Error)" CheckedChanged="@OnToggledChanged"> *@
    @*     Changing *@
    @* </MudSwitch> *@
    <MudFab Color="@(SharingStatus ? Color.Success : Color.Error)" Size="Size.Small" Icon="@(SharingStatus ? Icons.Material.Filled.Done : Icons.Material.Filled.Close)"
            DisableElevation="true" aria-label="Sharing status" OnClick="OnToggledChanged"
            Label="@(SharingStatus ? " Share On" : " Share Off")" IconSize="Size.Small" Style="width: 15rem"/>


    <MudIconButton Icon="@Icons.Material.Outlined.Notifications"/>
    <MudIconButton Icon="@Icons.Material.Outlined.PushPin"/>
    <MudIconButton Icon="@Icons.Material.Outlined.PeopleAlt"/>
    <MudIconButton Icon="@Icons.Material.Outlined.MoreVert" Color="Color.Inherit"/>
</MudToolBar>


<MudGrid Justify="Justify.Center">

    <table>
        <thead>
        <tr>
            @foreach (var day in WeekDays)
            {
                <th>
                    <MudPaper Class="px-16 py-2 ma-2" Elevation="3">@day</MudPaper>
                </th>
            }
        </tr>
        </thead>
        <tbody>
        @for (var i = 0; i < Days.GetLength(0); i++)
        {
            <tr>
                @for (var j = 0; j < 7; j++)
                {
                    <td>
                        @{
                            var i1 = i;
                            var j1 = j;
                        }
                        @if (@Days[i1, j1] == 0)
                        {
                            <MudPaper Class="pa-16 ma-2" Elevation="3" Style="background-color: grey">

                            </MudPaper>
                        }
                        else
                        {
                            <MudPaper Class="pa-16 ma-2  " Elevation="3">
                                <MudFab Color="Color.Secondary" Size="Size.Small" IconSize="Size.Small" Class="ma-2  " Label="@Days[i1, j1].ToString()"/>
                            </MudPaper>
                        }
                    </td>
                }
            </tr>
        }
        </tbody>
    </table>
</MudGrid>
<MudDialog @bind-IsVisible="visible" Options="dialogOptions" Class="DialogColors" NoHeader="true" DisableSidePadding="true">
    <DialogContent>
        <Event/>
    </DialogContent>
    <DialogActions >
        <MudButton Variant="Variant.Filled" Color="Color.Error" OnClick="Submit" FullWidth="true">Cancel</MudButton>
    </DialogActions>
</MudDialog>
    </Authorized>
    <NotAuthorized>
        <h1>Please Login: <a href="/login">Log in</a></h1>
    </NotAuthorized>
    </AuthorizeView>


@code {
    private static readonly string[] WeekDays = {"Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"};
    private static readonly string[] MonthNames = {"January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"};

    private static DateTime SelectedDate = DateTime.Now;
    private DateTime DatePicker = SelectedDate;
    private IList<Models.Event> Events;
    private int DisplayedMonth = DateTime.Now.Month - 1;
    private int DisplayedYear = DateTime.Now.Year;

    private int[,] Days;

    private void UpdateCalendarView()
    {
        var DisplayedDate = new DateTime(DisplayedYear, DisplayedMonth + 1, 1);
        var StartDayOfSelectedMonth = (int) DisplayedDate.StartOfMonth(CultureInfo.InvariantCulture).DayOfWeek;
        StartDayOfSelectedMonth += StartDayOfSelectedMonth == 0 ? 7 : 0;
        var EndDayOfSelectedMonth = (int) DisplayedDate.EndOfMonth(CultureInfo.InvariantCulture).DayOfWeek;
        EndDayOfSelectedMonth += EndDayOfSelectedMonth == 0 ? 7 : 0;
        var WeeksToDisplay = (StartDayOfSelectedMonth + DateTime.DaysInMonth(DisplayedDate.Year, DisplayedDate.Month) + (7 - EndDayOfSelectedMonth) - 1) / 7;
        var DayCount = 1;
        Days = new int[WeeksToDisplay, 7];

        for (var i = 0; i < StartDayOfSelectedMonth; i++) Days[0, i] = 0;
        for (var i = StartDayOfSelectedMonth - 1; i < 7; i++) Days[0, i] = DayCount++;
        for (var j = 1; j < WeeksToDisplay - 1; j++)
        {
            for (var i = 0; i < 7; i++) Days[j, i] = DayCount++;
        }
        for (var i = 0; i < EndDayOfSelectedMonth; i++) Days[Days.GetLength(0) - 1, i] = DayCount++;
        for (var i = EndDayOfSelectedMonth; i < 7; i++) Days[Days.GetLength(0) - 1, i] = 0;
    }

    private void SwitchMonth(bool GoForward)
    {
        DisplayedMonth += GoForward ? 1 : -1;
        if (DisplayedMonth is -1 or 12)
        {
            DisplayedYear += DisplayedMonth % 11;
            DisplayedMonth = (DisplayedMonth % 12 + 12) % 12;
        }
        UpdateCalendarView();
    }

    protected override async Task OnInitializedAsync()
    {
        UpdateCalendarView();
        SharingStatus = UserService.GetSharingStatus(((CustomAuthenticationStateProvider) AuthenticationState).GetCachedUser().Id).Result ;


    //Getting events needs more work
    // Events = await EventService.GetUserEventsAsync(((CustomAuthenticationStateProvider) AuthenticationState).GetCachedUser().Id);
    }

    private bool visible;
    private void OpenDialog() => visible = true;
    void Submit() => visible = false;
    private DialogOptions dialogOptions = new() {FullWidth = true};

    private bool SharingStatus { get; set; }

    private async Task OnToggledChanged()
    {
        await UserService.ChangeSharingStatus(((CustomAuthenticationStateProvider) AuthenticationState).GetCachedUser().Id);
        SharingStatus = UserService.GetSharingStatus(((CustomAuthenticationStateProvider) AuthenticationState).GetCachedUser().Id).Result ;
        await OnInitializedAsync();
        await InvokeAsync(StateHasChanged);

    }



}